<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    
    <link rel="stylesheet" href="statics/css/home.css">
</head>
<body>
   <header>
     <h1>Main home page</h1>
   </header>
    <nav>
    <ul>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/update">Update</a></li>
        <li><a href="/delete">Delete</a></li>
        <li><a href="/adminhome">Admin home</a></li>
    </ul>
   </nav>
</body>
</html>